{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
.ord{
  font-family: math;
  color: #000 !important;
}
.suc{
  margin-top:5%;
  margin-bottom: 3%;
  border: 1px solid #000;
}
</style>
<div class="suc container">
  <div class="py-5 text-center">
    <h2 class="ord">Order Completed</h2>
    <p class="ord" class="lead">Your order has been placed successfully. Our team will contact you through WhatsApp to discuss Payment and Delivery and Order Quantity.</p>
  </div>
</div>
{% endblock content %}
